@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

/* CSS reset */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

/* Colors */

:root {
    --text-dark: #1D2026;
    --text-medium: #69707D;
    --text-light: #FFF;

    --overlay: #FFFFFFBF;

    --accent: #FF7E1B;
    --white: #FFF;
}

/* Typography */

html {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.heading-1 {
    color: var(--text-dark);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2rem;

    @media screen and (min-width: 768px) {
        font-size: 2.75rem;
        line-height: 3rem;
    }
}

.eyebrow {
    color: var(--text-medium);
    font-size: 0.75rem;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.11538rem;
    text-transform: uppercase;

    @media screen and (min-width: 768px) {
        font-size: 0.8125rem;
        letter-spacing: 0.125rem;

        @media screen and (min-width: 1280px) {
            line-height: 1rem;
        }
    }
}

.regular-paragraph {
    color: var(--text-medium);
    font-size: 0.9375rem;
    line-height: 1.625rem;

    @media screen and (min-width: 768px) {
        font-size: 1rem;
    }
}

.final-price {
    color: var(--text-dark);
    font-size: 1.75rem;
    font-weight: 700;
    line-height: 2rem;
}

.original-price {
    color: var(--text-medium);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
    text-decoration-line: line-through;
}

.discount {
    color: var(--text-light);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
}

input[type="number"] {
    color: var(--text-dark);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
}

.button {
    color: var(--text-dark);
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.625rem;
}

/* Main styles */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    width: 100%;

    @media screen and (min-width: 768px) {
        width: 79.17%;

        @media screen and (min-width: 1280px) {
            width: 77.08%;
            max-width: 1110px;
        }
    }
}

/* Product styles */

.product {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media screen and (min-width: 768px) {
        margin-top: 48px;
        gap: 48px;

        @media screen and (min-width: 1280px) {
            width: 91.98%;
            margin: 96px auto 0 auto;
            flex-direction: row;
            justify-content: space-between;
            gap: unset;
        }
    }

    .swiper-container {
        max-width: 375px;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            max-width: 608px;

            @media screen and (min-width: 1280px) {
                width: 43.88%;
                max-width: unset;
                margin: unset;
            }
        }

        .mySwiper2 {
            @media screen and (min-width: 768px) {
                border-radius: 15px;
                overflow: hidden;
                /* height: fit-content; */
            }

            .swiper-wrapper {
                height: 300px;

                @media screen and (min-width: 768px) {
                    height: 290px;

                    @media screen and (min-width: 1280px) {
                        height: 100%;
                        max-height: 445px;
                    }
                }

                .swiper-slide {
                    position: relative;

                    @media (hover: hover) {
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    img {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);

                        @media screen and (min-width: 1280px) {
                            width: unset;
                            position: unset;
                            top: unset;
                            left: unset;
                            transform: unset;
                        }
                    }
                }
            }

            .swiper-button-next,
            .swiper-button-prev {
                width: 40px;
                height: 40px;
                background-color: var(--white);
                border-radius: 50%;

                &::after {
                    content: none;
                }

                @media screen and (min-width: 1280px) {
                    display: none;
                }

                svg {
                    width: 9px;
                    aspect-ratio: 5.714/11.429;
                }
            }

            .swiper-button-next {
                right: 16px;
            }

            .swiper-button-prev {
                left: 16px;
            }
        }

        .mySwiper {
            display: none;

            @media screen and (min-width: 1280px) {
                display: block;
                margin-top: 32px;
            }

            .swiper-wrapper {
                .swiper-slide {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        inset: 0;
                        background: var(--overlay);
                        border-radius: 10px;
                        pointer-events: none;
                        opacity: 0;
                        border: 2px solid var(--accent);
                        transition: opacity 300ms ease;
                    }

                    @media (hover: hover) {
                        &:hover {
                            cursor: pointer;
                        }
                    }

                    &.swiper-slide-thumb-active::after {
                        opacity: 1;
                    }

                    img {
                        border-radius: 10px;
                    }
                }
            }
        }
    }

    .product-info {
        width: 87.2%;
        max-width: 327px;
        margin: 0 auto;

        @media screen and (min-width: 768px) {
            width: 100%;
            max-width: 608px;

            @media screen and (min-width: 1280px) {
                width: 43.58%;
            }
        }

        header {
            display: flex;
            flex-direction: column;
            gap: 16px;

            @media screen and (min-width: 768px) {
                gap: 24px;

                @media screen and (min-width: 1280px) {
                    gap: 32px;
                }
            }
        }

        .description {
            margin-top: 16px;

            @media screen and (min-width: 768px) {
                margin-top: 24px;

                @media screen and (min-width: 1280px) {
                    margin-top: 32px;
                }
            }
        }

        .price-wrapper {
            margin-top: 32px;
            display: flex;
            justify-content: space-between;

            @media screen and (min-width: 768px) {
                margin-top: 24px;
                flex-direction: column;
                justify-content: unset;
                gap: 8px;

                @media screen and (min-width: 1280px) {
                    margin-top: 32px;
                }
            }

            .final-price-wrapper {
                display: flex;
                gap: 16px;

                @media screen and (min-width: 768px) {
                    gap: 24px;

                    @media screen and (min-width: 1280px) {
                        gap: 16px;
                    }
                }

                .discount {
                    width: 51px;
                    height: 27px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 6px;
                    background-color: var(--text-dark);
                }
                
            }
        }
    }
}